body{
    font-family: Arial, sans-serif;
    background-color: darkgrey;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
.column-container{
    background-color: #dadadb;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    display: flex;
    margin-top: 40px;
    margin-bottom: 100px;
}

.form1{
    display: flex;
    flex-direction: column;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    width: auto;
    padding: 10px;
}


.column1{
    width: auto;
    box-sizing: border-box;
}

label {
    margin-top: 10px;
}
.btn1{
    margin-top: 10px;
    border-radius: 801px;
    background-color: aquamarine;
}
.btn2{
    margin-top: 10px;
    border-radius: 801px;
    background-color: rgb(29, 168, 29);
}
input{
    margin-top: 10px;
}
